# This is an Example build config file (local.conf)
# you might not need this file, but if the defaults dont work for you
# You can override them here.
# Tweak the values to your needs and rename it to local.conf

############# DIRS #############
# PREFIX=$(HOME)/local
# YML2_PATH=$(HOME)/yml2
# YML2_PROC=$(YML2_PATH)/yml2proc $(YML2_OPTS)
# YML2_OPTS=--encoding=utf8
